.center-container{
  margin: 0 auto;
  text-align: center;
}

.restapi-logo {
  margin-top: 34px;
  width: 149px;
  height: 50px;
  object-fit: contain;
}

.restapi-logo-left-align{
  margin-top: 34px;
  width: 149px;
  height: 50px;
  object-fit: contain;
}

.page-header {
  margin-top: 60px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #40495a;
}

.page-header-left-align{
  margin-top: 60px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #40495a;
}

.full-text-email{
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: #40495a;
  text-align: left;
}

.subheader {
  margin-top: 4px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #40495a;
}

.username {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #40495a;
  margin-top: 10px;
}

.post-image {
  margin:48px;
  width: 100%;
  height: auto;
  max-width: 275px;
}

.body_mobile_width{
  width: 100%;
  background-color: #FFFFFF;
  min-height: 100%;
  padding-bottom: 50px;
  position: relative;
  font-family: "Lato";
}

.body-middle-container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}

.business_image{
  width: 74px;
  height: 74px;
  border-radius: 50%;
  margin-top: 40px;
}

.post_caption{
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.59;
  letter-spacing: normal;
  color: #40495a;
  text-align: justify;
}

.caption_box{
  width: 280px;
  margin: 0 auto;
  margin-top: 10px;
}

.circle_number_background{
  width: 35px;
  height: 35px;
  background-color: #15d060;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fafafa;
}

.numbered_box{
  width: 375px;
  margin: 0 auto;
  margin-top: 60px;
}

.number_bullet{
  padding: 4px;
}

.numbered_text_box{
  width: 250px;
  padding-top: 27px;
  margin: 0 auto;
}

.numbered_text{
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #40495a;
}

.footer_background{
  height: 170px;
  margin-top: 90px;
  background-color: #f0f0f0;
}


.footer-padding{
    margin-top: 40px;
}

.footer-link-para{
  padding-top: 46px;
}

.footer-link{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c76e5;
}

.footer_text{
  padding-top: 33px;
  width:100%;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
}