{% load inlinecss %}
{% inlinecss "css/common-email.css" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto);
    </style>
</head>
<body class="body_mobile_width">
  <div class="body_mobile_width">
        <div class="body-middle-container">
            {% block content %}
            {% endblock %}
            <div class="footer_background">
                <div class="center-container footer-padding">
                    <div class="footer-link-para"><a class="footer-link" href="mailto: {{ mail_to_email }}">Support</a></div>
                    <div class="footer_text">dotstar.xyz</div>
                </div>
            </div>
        </div>

  </div>
</body>
</html>
{% endinlinecss %}
