


{% extends "base-email.html" %}
{% block content %}
    <img class="restapi-logo" src="https://i0.wp.com/dotstar.xyz/wp-content/uploads/2018/01/cropped-everything-_blue.png">
    <div>
        <h1 class="page-header-left-align">Password Change</h1><br>
    </div>

    <div>
        <div class="center-container">
            <p class="full-text-email">
Dear {{ first_name }} {{ last_name }},<br><br>

You have requested instructions on how to reset your password. Please, click here for a new password:
<a href="{{reset_password_url}}">{{reset_password_url}}</a><br><br>

If this wasn’t you, disregard this email.<br><br>


Regards,<br>

dotstar.xyz<br>
            </p>
        </div>
    </div>

{% endblock %}