{% extends "base-email.html" %}
{% block content %}
    <img class="restapi-logo" src="https://i0.wp.com/dotstar.xyz/wp-content/uploads/2018/01/cropped-everything-_blue.png">
    <div>
        <h1 class="page-header-left-align">Password changed</h1><br>
    </div>

    <div>
        <div class="center-container">
            <p class="full-text-email">
Dear {{ first_name }} {{ last_name }},<br><br>

Your password has been changed successfully.<br><br>

Regards,<br>

dotstar.xyz<br>
            </p>
        </div>
    </div>

{% endblock %}